/NEW SBER--1171090342.xlsx
/okko_algo_development.ipynb
/Pipfile
/Pipfile.lock
/Procfile
/requirements_back.txt
/sber_logo.png
/setup.sh
/плееры_ДНС--696192870.xlsx
__pycache__/
.idea/
/notebooks/
/data/
/.vscode/
